<%= form_for(@bookmark) do |f| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :index %><br />
    <%= f.text_field :index %>
  </div>
  <div class="field">
    <%= f.label :edit %><br />
    <%= f.text_field :edit %>
  </div>
  <div class="field">
    <%= f.label :new %><br />
    <%= f.text_field :new %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
