<p id="notice"><%= notice %></p>

<p>
  <b>Index:</b>
  <%= @bookmark.index %>
</p>

<p>
  <b>Edit:</b>
  <%= @bookmark.edit %>
</p>

<p>
  <b>New:</b>
  <%= @bookmark.new %>
</p>


<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
