<p id="notice"><%= notice %></p>

<p>
  <b>Skillid:</b>
  <%= @keyword.skillId %>
</p>

<p>
  <b>Keyword:</b>
  <%= @keyword.keyword %>
</p>


<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
