<% provide(:title, 'BonsaiUp') %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - Claim</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>   
</head>
<body>
	<div id="topContainer">
		<%= render "layouts/header" %>
	</div>
	<div id="container1">
		<div class="containerContent">
			<%= yield %>
		</div>
	</div>
	<div id="footerContainer">
		<%= render "layouts/footer" %>
	</div>
</body>
</html>
